#about-bg {
  background: $about-image;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0px 1000px
    rgba(lighten($primary-color, 0), $background-opacity);
}

#about-home {
  overflow: scroll;
  padding: 4rem;
}

.column {
  background: rgba(white, 0.5);
  padding: 20px;
  padding-bottom: 5vh;
  margin-top: 1rem;
  box-shadow: 0 5px 5px 5px rgba(black, 0.2);
  @include ease-out();

  &:hover {
    @include ease-out();
    background: rgba($about-column, 0.9);
  }
}

.about-color {
  @include ease-out();
  color: $about-color;
}

.about-sec-color {
  color: $about-second-color;
}

.dark-hover:hover {
  .about {
    color: darken($about-color, 20);
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'tab1     tab2  tab3';
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: 'bioimage';
  margin: auto;
  border-radius: 50%;
  border: $about-color 3px solid;
  width: 25vw;
  height: auto;
  @include ease-out();

  &:hover {
    transform: scale(1.15);
    @include ease-out();
  }
}

.bio {
  text-align: none;
  grid-area: bio;

  .title {
    // background: rgba(white, 0.5);
    // width: 80px;
    text-align: none;
    font-size: 50px;
    @include ease-out();
  }

  p {
    background: rgba(lighten($primary-color, 15), 0.7);
    padding: 0.5rem;
    font-size: 18px;
    @include ease-out();

    &:hover {
      @include ease-out();
      background: darken($about-column, 15);
      box-shadow: 0 0 5px 5px darken($about-column, 15);

      .about-sec-color {
        color: $about-color;
      }
    }
  }
}

.tab {
  background: rgba(lighten($primary-color, 15), 0.7);
  padding: 0.5rem;
  border-bottom: $about-color 5px solid;
  @include ease-out();

  &:hover {
    background: darken($about-column, 15);
    box-shadow: 0 5px 5px 0px lighten(black, 15);
    transform: scale(1.1);
    @include ease-out();

    .about-sec-color, h3 {
      color: $about-color;
    }
  }

  h3 {
    color: $about-subtitle-color;
    font-style: underline;
  }
}

.tab-1 {
  grid-area: tab1;
}
.tab-2 {
  grid-area: tab2;
}
.tab-3 {
  grid-area: tab3;
}
