#projects-bg {
  background: $projects-image;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0px 1000px
    rgba(lighten($primary-color, 0), $background-opacity);
  color: set-text-color($primary-color);
  font-family: $block-font;
  line-height: 1.5;
  overflow: auto;
}

#proj-home {
  height: auto;
  padding: 4rem;
}

.proj.column {
  background: rgba(#ddd5c3, 0.8);
  &:hover {
    background: rgba(#e6d8b5, 0.9);
  }
}

.proj-color {
  color: $project-color;
}

.proj-sec-color {
  color: $project-second-color;
}

.project {
  background: lighten(rgb(114, 94, 68), 15); //white; //
  padding: 25px;
  border-bottom: $project-second-color 5px solid;
  margin-bottom: 15px;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-column-gap: 20px;
  //grid-template-rows: 50px 50px 1fr 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'media title title'
    'media skills skills'
    'media description description'
    'media github github';
  box-shadow: 0 0px 8px 0px rgba(black, 0.5);
  vertical-align: center; 
  @include ease-out();

  &:hover {
    background: darken(#b08647, 0);
    transform: translateY(-10px);
    box-shadow: 0 5px 15px 0px black;
    //transition: none;
  }

  .title {
    grid-area: title;
    color: $project-second-color;
    font-size: 30px;
    //height: 50px;
  }

  .github {
    grid-area: github;
    right: 25px;
  }

  .skills {
    grid-area: skills;
    margin: 0;
    font-size: 10px;
    //height: 40px;

    .skill {
      background: rgba(#fff, 0.3);
      margin: 5px 5px 5px 0;
    }
  }

  .image {
    grid-area: media;
    max-width: 100%;
    margin-right: 20px;
    border-radius: 20px;
    border: $project-second-color 3px solid;
  }

  .description {
    grid-area: description;
  }
}

.skills {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;

  .all-skills {
    color: rgb(54, 54, 54);
  }

  .skill {
    cursor: pointer;
    background: rgba($project-skills-background-color, 0.8);
    margin: 5px 10px;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline;
    @include ease-out();

    &:hover {
      background: darken($project-skills-background-color, 0);
      transform: scale(1.15);
      //transition: none;

      // &.true {
      //   border: 3px white solid;
      // }
    }

    &.true {
      border: 3px $project-skills-border-color solid;
    }
  }
}

.selected {
  border: 3px $project-color solid;
}

.Design,
.Front-End {
  color: rgb(189, 10, 10);
}

.Database {
  color: rgb(70, 141, 70);
}

.Language {
  color: rgb(123, 50, 145);
}
