#updates-bg {
  background: $updates-image;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0px 1000px
    rgba(lighten($primary-color, 0), $background-opacity);
  color: set-text-color($primary-color);
  font-family: $block-font;
  line-height: 1.5;
  overflow: auto;
  text-align: center;

  #home {
    margin-top: 20vh;
  }
}
